@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff;
  margin: 0;
}

#toolbar {
  display: flex;
  justify-content: space-between;
}

.logoimage {
  width: 111px;
  height: 74px;
}

#menuimage {
  position: fixed;
  right: 30px;
  top: 10px;
  height: 15px;
  margin: 20px;
}

.headline {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 30px 16px 32px 16px;
}

/* The mobile-menu styling starts */
.mobile-open #header-nav {
  display: flex;
  align-content: center;
}

.mobile-open .mobile-top-bg {
  background-image: url(images/menu_mobile_top.svg);
  position: absolute;
  width: 263px;
  height: 114px;
  left: 0px;
  top: 0px;
}

.mobile-open .mobile-bottom-bg {
  background-image: url(images/menu_mobile_bottom.svg);
  position: absolute;
  width: 320px;
  height: 150px;
  left: 0px;
  top: 418px;
}

.mobile-open ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 20px;
  line-height: 300%;
  text-align: center;
  position: absolute;
  width: 66px;
  height: 192px;
  left: 127px;
  top: 144px;
  color: #000;
}

.mobile-open nav {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
}

.mobile-open #menuimage {
  display: none;
}

.mobile-open #menu-close {
  display: block;
  z-index: 200;
  position: absolute;
  right: 30px;
  top: 20px;
}

#menu-close {
  display: none;
}
/* The mobile-menu styling ends */

.name {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 50px;
  line-height: 100%;
  font-weight: 400;
  color: #1a2236;
}

.bio {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding-top: 20px;
}

.profilelin {
  border: 1px solid #1a2236;
  padding: 12px 60px 11.53px 60px;
  background-color: #1a2236;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

#Geometry2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 160px;
  padding-bottom: 40px;
  margin: auto;
  background: url("images/image_geometry_2.svg") no-repeat;
}

#projects-container {
  display: grid;
  grid-template-rows: auto;
}

.project-heading {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-left: 16px;
  padding-bottom: 32px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  object-fit: contain;
  margin-top: -1%;
}

.project-info {
  display: flex;
  flex-direction: column;
  background: #1a2236;
}

.project-info-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  padding: 20px 36px 16px 20px;
  color: #fff;
}

.project-languages {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.project-languages > li {
  background: #98dede;
  padding: 6px 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
}

.button-with-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #1a2236;
  border: 1px solid #fff;
  width: fit-content;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.btn:focus {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.button-with-arrow > img {
  padding-top: 3.95px;
  padding-right: 1.43px;
  padding-bottom: 4.7px;
  padding-left: 2px;
}

#about-container {
  display: flex;
  flex-direction: column;
}

.about-heading {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-top: 56px;
  padding-left: 16px;
}

.content {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 20px 16px 32px 16px;
}

.download-button {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  gap: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 75px;
  background: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
}

.download-button > img {
  padding-right: 79px;
}

.blue {
  background-color: #1c528a;
}

.red {
  background-color: #970d19;
}

.orange {
  background-color: #a76c07;
}

.section-about {
  color: #fff;
  margin-top: 24px;
  margin-bottom: 34px;
}

.section-about .languages {
  padding: 50px;
  margin: 16px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.section-about h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

.section-about .container-list {
  list-style: none;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.section-about .about-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

#contact-form-section {
  background: #f9f9fa;
  padding-left: 18px;
  padding-right: 14px;
}

.contact {
  display: flex;
  margin-top: 31.98px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.form-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.desktop-lorem {
  display: none;
}

.form h1 {
  padding-bottom: 20px;
  padding-top: 28px;
}

.form-text {
  margin-left: 18px;
  margin-bottom: 31px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

form button {
  width: 100%;
  align-self: center;
}

input {
  width: 288px;
  height: 52px;
  left: 16px;
  top: 4400px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 33px;
}

textarea {
  width: 288px;
  height: 112px;
  left: 16px;
  top: 4520px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-left: 16px;
  padding-top: 4px;
}

#button {
  margin-left: 18px;
  width: 288px;
}

#footer {
  margin-top: 64px;
  background: #1a2236;
}

.resume {
  display: flex;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding-top: 32px;
  padding-left: 16px;
}

.social-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 30.5px;
  padding-bottom: 30.5px;
}

#header-nav {
  display: none;
}

.desktop-img1 {
  display: none;
}

.desktop-img2 {
  display: none;
}

/* Desktop style starts here */

@media only screen and (min-width: 768px) {
  .logoimage {
    display: none;
  }

  #menuimage {
    display: none;
  }

  #header-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1440px;
    height: 14px;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  #header-nav > li > a {
    text-decoration: none;
    padding: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1a2236;
  }

  #Geometry2 {
    display: none;
  }

  .headline {
    display: grid;
    grid-template-columns: 2px;
    padding-left: 144px;
    padding-top: 192px;
    margin-bottom: 402px;
  }

  .headline-container1 {
    display: grid;
  }

  .profilelin {
    width: 70%;
  }

  .name {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .bio {
    display: flex;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  #background-url1 {
    width: 702px;
    height: 877px;
    left: 738px;
    top: 81px;
    background: url("images/image-geometry_header.svg") no-repeat;
    position: absolute;
  }

  #background-url2 {
    width: 175px;
    height: 175px;
    left: 563px;
    top: 802px;
    background: url("images/image_dots.svg") no-repeat;
    position: absolute;
  }

  #projects-container {
    display: grid;
    background-image: url("./images/projects-container-desktop-bg.svg");
    background-repeat: no-repeat;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width: 100%;
    box-sizing: border-box;
    height: 1643px;
    margin-bottom: 216px;
  }

  .project-heading {
    width: 398px;
    height: 110px;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    transform: rotate(-90deg);
    position: relative;
    left: -10px;
    top: 125px;
  }

  .cont1 {
    display: none;
  }

  .cont2 {
    display: none;
  }

  .cont3 {
    display: none;
  }

  .cont4 {
    display: none;
  }

  .cont5 {
    display: none;
  }

  .cont6 {
    display: none;
  }

  #projects-container > div:nth-child(2) > img {
    position: absolute;
    width: 960px;
    height: 577px;
    left: 484px;
  }

  .project-info {
    position: relative;
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    background: #1a2236;
    width: fit-content;
    transition: all 0.2s ease-in;
    opacity: 0.98;
    overflow: hidden;
  }

  .project-info-name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    margin-top: 60px;
  }

  .project-languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 34px;
    margin-bottom: 60px;
  }

  .project-languages > li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
  }

  .button-with-arrow {
    width: 212px;
    height: 51px;
    font-size: 18px;
    line-height: 27px;
  }

  #projects-container > div:nth-child(3) > img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: -3px;
    top: 1833px;
  }

  #projects-container > div:nth-child(4) > img {
    position: absolute;
    width: 1074px;
    height: 470px;
    left: -137px;
    top: 2086px;
  }

  #projects-container > div:nth-child(5) > img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 797px;
    top: 2553px;
  }

  #projects-container > div:nth-child(7) > img {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 975px;
    top: 1757px;
  }

  #projects-container > div:nth-child(6) > img {
    position: absolute;
    width: 464px;
    height: 275px;
    left: 975px;
    top: 2024px;
  }

  #about-container {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: center;
    width: 1120px;
    height: 586px;
    gap: 1rem;
    margin-left: 160px;
    margin-bottom: 150px;
  }

  .sub-about {
    margin-left: 96px;
  }

  .about-heading {
    font-weight: 400;
    font-size: 110px;
    color: #1a2236;
  }

  .section-about {
    display: grid;
    grid-template: auto auto/auto auto;
    background-image: url(/images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .section-about .languages {
    padding: 0;
    margin: 0;
    position: relative;
    width: 289px;
    height: 289px;
    font-size: 18px;
    line-height: 27px;
  }

  .list1 {
    padding-top: 51px;
    padding-left: 50px;
  }

  .container-list {
    padding-top: 1px;
    padding-left: 50px;
  }

  #contact-form-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1440px;
    height: 950px;
    padding-top: 168px;
    background-image: url("images/top-left.svg"), url("images/bottom-right.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
  }

  .desktop-lorem {
    display: grid;
    padding-top: -31px;
    margin-top: -40px;
  }

  #contact-form-section .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form h1 {
    padding-bottom: 40px;
  }

  form {
    width: 545px;
  }

  form input,
  textarea {
    width: 100%;
  }

  form button {
    width: 254px;
  }

  #contact-form-section div.form h1 {
    justify-content: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    text-align: center;
    color: #1a2236;
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 0 150px 0 150px;
    margin: 0;
  }

  #footer .resume {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #92dcdc;
    padding-top: 0;
    padding-left: 0;
  }

  #footer div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
